schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="CURRICULO-VITAE">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="DADOS-GERAIS"/>
        <xs:element minOccurs="0" name="PRODUCAO-TECNICA"/>
        <xs:element minOccurs="0" name="OUTRA-PRODUCAO"/>
        <xs:element minOccurs="0" ref="DADOS-COMPLEMENTARES"/>
        <xs:element minOccurs="0" ref="PRODUCAO-BIBLIOGRAFICA"/>
      </xs:all>
      <xs:attribute name="DATA-ATUALIZACAO" use="optional" type="xs:integer"/>
      <xs:attribute name="HORA-ATUALIZACAO" use="optional" type="xs:integer"/>
      <xs:attribute name="NUMERO-IDENTIFICADOR" use="optional"/>
      <xs:attribute name="SISTEMA-ORIGEM-XML" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRODUCAO-BIBLIOGRAFICA">
    <xs:complexType/>
  </xs:element>
  <xs:element name="DADOS-GERAIS">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="RESUMO-CV"/>
        <xs:element minOccurs="0" ref="OUTRAS-INFORMACOES-RELEVANTES"/>
        <xs:element minOccurs="0" ref="ENDERECO"/>
        <xs:element minOccurs="0" ref="FORMACAO-ACADEMICA-TITULACAO"/>
        <xs:element minOccurs="0" ref="ATUACOES-PROFISSIONAIS"/>
        <xs:element minOccurs="0" ref="AREAS-DE-ATUACAO"/>
        <xs:element minOccurs="0" ref="IDIOMAS"/>
        <xs:element minOccurs="0" ref="PREMIOS-TITULOS"/>
      </xs:all>
      <xs:attribute name="SIGLA-PAIS-NACIONALIDADE" use="optional"/>
      <xs:attribute name="PAIS-DE-NACIONALIDADE" use="optional"/>
      <xs:attribute name="CIDADE-NASCIMENTO" use="optional"/>
      <xs:attribute name="DATA-FALECIMENTO" use="optional"/>
      <xs:attribute name="NACIONALIDADE" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-COMPLETO" use="optional"/>
      <xs:attribute name="NOME-EM-CITACOES-BIBLIOGRAFICAS" use="optional"/>
      <xs:attribute name="PAIS-DE-NASCIMENTO" use="optional" type="xs:string"/>
      <xs:attribute name="PERMISSAO-DE-DIVULGACAO" use="optional" type="xs:string"/>
      <xs:attribute name="UF-NASCIMENTO" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESUMO-CV">
    <xs:complexType>
      <xs:attribute name="TEXTO-RESUMO-CV-RH" use="optional"/>
      <xs:attribute name="TEXTO-RESUMO-CV-RH-EN" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OUTRAS-INFORMACOES-RELEVANTES">
    <xs:complexType>
      <xs:attribute name="OUTRAS-INFORMACOES-RELEVANTES" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENDERECO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ENDERECO-PROFISSIONAL"/>
      </xs:sequence>
      <xs:attribute name="FLAG-DE-PREFERENCIA" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENDERECO-PROFISSIONAL">
    <xs:complexType>
      <xs:attribute name="BAIRRO" use="optional"/>
      <xs:attribute name="CAIXA-POSTAL" use="optional"/>
      <xs:attribute name="CEP" use="optional"/>
      <xs:attribute name="CIDADE" use="optional"/>
      <xs:attribute name="CODIGO-INSTITUICAO-EMPRESA" use="optional"/>
      <xs:attribute name="CODIGO-ORGAO" use="optional"/>
      <xs:attribute name="CODIGO-UNIDADE" use="optional"/>
      <xs:attribute name="DDD" use="optional"/>
      <xs:attribute name="FAX" use="optional"/>
      <xs:attribute name="HOME-PAGE" use="optional"/>
      <xs:attribute name="LOGRADOURO-COMPLEMENTO" use="optional"/>
      <xs:attribute name="NOME-INSTITUICAO-EMPRESA" use="optional"/>
      <xs:attribute name="NOME-ORGAO" use="optional"/>
      <xs:attribute name="NOME-UNIDADE" use="optional"/>
      <xs:attribute name="PAIS" use="optional"/>
      <xs:attribute name="RAMAL" use="optional"/>
      <xs:attribute name="TELEFONE" use="optional"/>
      <xs:attribute name="UF" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FORMACAO-ACADEMICA-TITULACAO">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="GRADUACAO"/>
        <xs:element minOccurs="0" ref="MESTRADO"/>
        <xs:element minOccurs="0" name="ENSINO-FUNDAMENTAL-PRIMEIRO-GRAU"/>
        <xs:element minOccurs="0" ref="ENSINO-MEDIO-SEGUNDO-GRAU"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="GRADUACAO">
    <xs:complexType>
      <xs:attribute name="FORMACAO-ACADEMICA-TITULACAO" use="optional" type="xs:string"/>
      <xs:attribute name="CODIGO-ORGAO" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-ORGAO" use="optional" type="xs:string"/>
      <xs:attribute name="TIPO-GRADUACAO" use="optional" type="xs:string"/>
      <xs:attribute name="CODIGO-INSTITUICAO-GRAD" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-INSTITUICAO-GRAD" use="optional" type="xs:string"/>
      <xs:attribute name="CODIGO-INSTITUICAO-OUTRA-GRAD" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-INSTITUICAO-OUTRA-GRAD" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-ORIENTADOR-GRAD" use="optional" type="xs:string"/>
      <xs:attribute name="ANO-DE-CONCLUSAO" use="optional"/>
      <xs:attribute name="ANO-DE-INICIO" use="optional" type="xs:integer"/>
      <xs:attribute name="CODIGO-AGENCIA-FINANCIADORA" use="optional"/>
      <xs:attribute name="CODIGO-AREA-CURSO" use="optional"/>
      <xs:attribute name="CODIGO-CURSO" use="optional"/>
      <xs:attribute name="CODIGO-CURSO-CAPES" use="optional"/>
      <xs:attribute name="CODIGO-INSTITUICAO" use="optional" type="xs:integer"/>
      <xs:attribute name="FLAG-BOLSA" use="optional" type="xs:string"/>
      <xs:attribute name="NIVEL" use="optional" type="xs:integer"/>
      <xs:attribute name="NOME-AGENCIA" use="optional"/>
      <xs:attribute name="NOME-CURSO" use="optional"/>
      <xs:attribute name="NOME-CURSO-INGLES" use="optional"/>
      <xs:attribute name="NOME-DO-ORIENTADOR" use="optional"/>
      <xs:attribute name="NOME-INSTITUICAO" use="optional"/>
      <xs:attribute name="NUMERO-ID-ORIENTADOR" use="optional"/>
      <xs:attribute name="SEQUENCIA-FORMACAO" use="optional" type="xs:integer"/>
      <xs:attribute name="STATUS-DO-CURSO" use="optional" type="xs:string"/>
      <xs:attribute name="TITULO-DO-TRABALHO-DE-CONCLUSAO-DE-CURSO" use="optional"/>
      <xs:attribute name="TITULO-DO-TRABALHO-DE-CONCLUSAO-DE-CURSO-INGLES" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESTRADO">
    <xs:complexType>
			<xs:sequence>
				<xs:element name="AREAS-DO-CONHECIMENTO"/>
				<xs:any minOccurs="0"/>
			</xs:sequence>
      <xs:attribute name="ANO-DE-CONCLUSAO" use="optional"/>
      <xs:attribute name="ANO-DE-INICIO" use="optional" type="xs:integer"/>
      <xs:attribute name="CODIGO-AGENCIA-FINANCIADORA" use="optional"/>
      <xs:attribute name="CODIGO-AREA-CURSO" use="optional"/>
      <xs:attribute name="CODIGO-CURSO" use="optional"/>
      <xs:attribute name="CODIGO-CURSO-CAPES" use="optional"/>
      <xs:attribute name="CODIGO-INSTITUICAO" use="optional" type="xs:integer"/>
      <xs:attribute name="FLAG-BOLSA" use="optional" type="xs:string"/>
      <xs:attribute name="NIVEL" use="optional" type="xs:integer"/>
      <xs:attribute name="NOME-AGENCIA" use="optional"/>
      <xs:attribute name="NOME-CURSO" use="optional"/>
      <xs:attribute name="NOME-CURSO-INGLES" use="optional"/>
      <xs:attribute name="NOME-DO-ORIENTADOR" use="optional"/>
      <xs:attribute name="NOME-INSTITUICAO" use="optional"/>
      <xs:attribute name="NUMERO-ID-ORIENTADOR" use="optional"/>
      <xs:attribute name="SEQUENCIA-FORMACAO" use="optional" type="xs:integer"/>
      <xs:attribute name="STATUS-DO-CURSO" use="optional" type="xs:string"/>
      <xs:attribute name="TITULO-DO-TRABALHO-DE-CONCLUSAO-DE-CURSO" use="optional"/>
      <xs:attribute name="TITULO-DO-TRABALHO-DE-CONCLUSAO-DE-CURSO-INGLES" use="optional"/>
      <xs:attribute name="TIPO-MESTRADO" use="optional"/>
      <xs:attribute name="CODIGO-INSTITUICAO-DOUT" use="optional"/>
      <xs:attribute name="NOME-INSTITUICAO-DOUT" use="optional"/>
      <xs:attribute name="CODIGO-INSTITUICAO-OUTRA-DOUT" use="optional"/>
      <xs:attribute name="NOME-INSTITUICAO-OUTRA-DOUT" use="optional"/>
      <xs:attribute name="NOME-ORIENTADOR-DOUT" use="optional"/>
      <xs:attribute name="ANO-DE-OBTENCAO-DO-TITULO" use="optional"/>
      <xs:attribute name="TITULO-DA-DISSERTACAO-TESE" use="optional"/>
      <xs:attribute name="TITULO-DA-DISSERTACAO-TESE-INGLES" use="optional"/>
      <xs:attribute name="NOME-COMPLETO-DO-ORIENTADOR" use="optional"/>
      <xs:attribute name="NOME-DO-CO-ORIENTADOR" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENSINO-MEDIO-SEGUNDO-GRAU">
    <xs:complexType>
      <xs:attribute name="ANO-DE-CONCLUSAO" use="optional" type="xs:integer"/>
      <xs:attribute name="ANO-DE-INICIO" use="optional" type="xs:integer"/>
      <xs:attribute name="CODIGO-INSTITUICAO" use="optional"/>
      <xs:attribute name="NIVEL" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-INSTITUICAO" use="optional"/>
      <xs:attribute name="SEQUENCIA-FORMACAO" use="optional" type="xs:integer"/>
      <xs:attribute name="STATUS-DO-CURSO" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ATUACOES-PROFISSIONAIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ATUACAO-PROFISSIONAL"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ATUACAO-PROFISSIONAL">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="VINCULOS"/>
        <xs:element minOccurs="0" ref="ATIVIDADES-DE-PARTICIPACAO-EM-PROJETO"/>
      </xs:choice>
      <xs:attribute name="CODIGO-INSTITUICAO" use="optional" type="xs:integer"/>
      <xs:attribute name="NOME-INSTITUICAO" use="optional"/>
      <xs:attribute name="SEQUENCIA-ATIVIDADE" use="optional" type="xs:integer"/>
      <xs:attribute name="SEQUENCIA-IMPORTANCIA" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VINCULOS">
    <xs:complexType>
      <xs:attribute name="ANO-FIM" use="optional"/>
      <xs:attribute name="ANO-INICIO" use="optional" type="xs:integer"/>
      <xs:attribute name="CARGA-HORARIA-SEMANAL" use="optional"/>
      <xs:attribute name="ENQUADRAMENTO-FUNCIONAL" use="optional" type="xs:string"/>
      <xs:attribute name="FLAG-DEDICACAO-EXCLUSIVA" use="optional" type="xs:string"/>
      <xs:attribute name="FLAG-VINCULO-EMPREGATICIO" use="optional" type="xs:string"/>
      <xs:attribute name="MES-FIM" use="optional"/>
      <xs:attribute name="MES-INICIO" use="optional"/>
      <xs:attribute name="OUTRAS-INFORMACOES" use="optional"/>
      <xs:attribute name="OUTRAS-INFORMACOES-INGLES" use="optional"/>
      <xs:attribute name="OUTRO-ENQUADRAMENTO-FUNCIONAL-INFORMADO" use="optional"/>
      <xs:attribute name="OUTRO-ENQUADRAMENTO-FUNCIONAL-INFORMADO-INGLES" use="optional"/>
      <xs:attribute name="OUTRO-VINCULO-INFORMADO" use="optional"/>
      <xs:attribute name="SEQUENCIA-HISTORICO" use="optional" type="xs:integer"/>
      <xs:attribute name="TIPO-DE-VINCULO" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ATIVIDADES-DE-PARTICIPACAO-EM-PROJETO">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PARTICIPACAO-EM-PROJETO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PARTICIPACAO-EM-PROJETO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PROJETO-DE-PESQUISA"/>
      </xs:sequence>
      <xs:attribute name="ANO-FIM" use="optional"/>
      <xs:attribute name="ANO-INICIO" use="optional" type="xs:integer"/>
      <xs:attribute name="CODIGO-ORGAO" use="optional" type="xs:integer"/>
      <xs:attribute name="CODIGO-UNIDADE" use="optional"/>
      <xs:attribute name="FLAG-PERIODO" use="optional" type="xs:string"/>
      <xs:attribute name="MES-FIM" use="optional"/>
      <xs:attribute name="MES-INICIO" use="optional"/>
      <xs:attribute name="NOME-ORGAO" use="optional"/>
      <xs:attribute name="NOME-UNIDADE" use="optional"/>
      <xs:attribute name="SEQUENCIA-FUNCAO-ATIVIDADE" use="optional" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PROJETO-DE-PESQUISA">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="EQUIPE-DO-PROJETO"/>
        <xs:element minOccurs="0" ref="FINANCIADORES-DO-PROJETO"/>
      </xs:all>
      <xs:attribute name="ANO-FIM" use="optional" type="xs:string"/>
      <xs:attribute name="ANO-INICIO" use="optional" type="xs:integer"/>
      <xs:attribute name="DESCRICAO-DO-PROJETO" use="optional"/>
      <xs:attribute name="DESCRICAO-DO-PROJETO-INGLES" use="optional"/>
      <xs:attribute name="FLAG-POTENCIAL-INOVACAO" use="optional" type="xs:string"/>
      <xs:attribute name="NATUREZA" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-DO-PROJETO" use="optional"/>
      <xs:attribute name="NOME-DO-PROJETO-INGLES" use="optional"/>
      <xs:attribute name="NUMERO-DOUTORADO" use="optional"/>
      <xs:attribute name="NUMERO-ESPECIALIZACAO" use="optional"/>
      <xs:attribute name="NUMERO-GRADUACAO" use="optional"/>
      <xs:attribute name="NUMERO-MESTRADO-ACADEMICO" use="optional"/>
      <xs:attribute name="NUMERO-MESTRADO-PROF" use="optional"/>
      <xs:attribute name="SEQUENCIA-PROJETO" use="optional" type="xs:integer"/>
      <xs:attribute name="SITUACAO" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EQUIPE-DO-PROJETO">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="INTEGRANTES-DO-PROJETO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INTEGRANTES-DO-PROJETO">
    <xs:complexType>
      <xs:attribute name="FLAG-RESPONSAVEL" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-COMPLETO" use="optional"/>
      <xs:attribute name="NOME-PARA-CITACAO" use="optional"/>
      <xs:attribute name="NRO-ID-CNPQ" use="optional"/>
      <xs:attribute name="ORDEM-DE-INTEGRACAO" use="optional" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FINANCIADORES-DO-PROJETO">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="FINANCIADOR-DO-PROJETO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FINANCIADOR-DO-PROJETO">
    <xs:complexType>
      <xs:attribute name="CODIGO-INSTITUICAO" use="optional" type="xs:integer"/>
      <xs:attribute name="NATUREZA" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-INSTITUICAO" use="optional"/>
      <xs:attribute name="SEQUENCIA-FINANCIADOR" use="optional" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AREAS-DE-ATUACAO">
    <xs:complexType>
			<xs:all>
				<xs:element minOccurs="0" name="AREA-DE-ATUACAO"/>
			</xs:all>
		</xs:complexType>
  </xs:element>
  <xs:element name="IDIOMAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="IDIOMA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IDIOMA">
    <xs:complexType>
      <xs:attribute name="DESCRICAO-DO-IDIOMA" use="optional" type="xs:string"/>
      <xs:attribute name="IDIOMA" use="optional" type="xs:string"/>
      <xs:attribute name="PROFICIENCIA-DE-COMPREENSAO" use="optional" type="xs:string"/>
      <xs:attribute name="PROFICIENCIA-DE-ESCRITA" use="optional" type="xs:string"/>
      <xs:attribute name="PROFICIENCIA-DE-FALA" use="optional" type="xs:string"/>
      <xs:attribute name="PROFICIENCIA-DE-LEITURA" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PREMIOS-TITULOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PREMIO-TITULO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PREMIO-TITULO">
    <xs:complexType>
      <xs:attribute name="ANO-DA-PREMIACAO" use="optional" type="xs:integer"/>
      <xs:attribute name="NOME-DA-ENTIDADE-PROMOTORA" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-DO-PREMIO-OU-TITULO" use="optional"/>
      <xs:attribute name="NOME-DO-PREMIO-OU-TITULO-INGLES" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DADOS-COMPLEMENTARES">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="INFORMACOES-ADICIONAIS-INSTITUICOES"/>
        <xs:element minOccurs="0" name="INFORMACOES-ADICIONAIS-CURSOS"/>
        <xs:element minOccurs="0" name="FORMACAO-COMPLEMENTAR"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="INFORMACOES-ADICIONAIS-INSTITUICOES">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="INFORMACAO-ADICIONAL-INSTITUICAO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INFORMACAO-ADICIONAL-INSTITUICAO">
    <xs:complexType>
      <xs:attribute name="CODIGO-INSTITUICAO" use="optional" type="xs:integer"/>
      <xs:attribute name="FLAG-AGENCIA-FOMENTO" use="optional" type="xs:string"/>
      <xs:attribute name="FLAG-INSTITUICAO-DE-ENSINO" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-PAIS-INSTITUICAO" use="optional" type="xs:string"/>
      <xs:attribute name="SIGLA-INSTITUICAO" use="optional"/>
      <xs:attribute name="SIGLA-PAIS-INSTITUICAO" use="optional" type="xs:string"/>
      <xs:attribute name="SIGLA-UF-INSTITUICAO" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="INFORMACAO-ADICIONAL-CURSO">
    <xs:complexType>
      <xs:attribute name="CODIGO-CURSO" use="optional" type="xs:integer"/>
      <xs:attribute name="CODIGO-INSTITUICAO" use="optional" type="xs:integer"/>
      <xs:attribute name="CODIGO-ORGAO" use="optional"/>
      <xs:attribute name="NIVEL-CURSO" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-DA-AREA-DO-CONHECIMENTO" use="optional"/>
      <xs:attribute name="NOME-DA-ESPECIALIDADE" use="optional"/>
      <xs:attribute name="NOME-DA-SUB-AREA-DO-CONHECIMENTO" use="optional"/>
      <xs:attribute name="NOME-GRANDE-AREA-DO-CONHECIMENTO" use="optional" type="xs:string"/>
      <xs:attribute name="NOME-INSTITUICAO" use="optional"/>
      <xs:attribute name="NOME-ORGAO" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
